

#pricing-sec{
    padding: 30px;
    // background-color: rgb(227, 253, 255);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
.pricing-title{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: rgb(102, 248, 102);
}
.pricing-item-wrapper{
    // background: yellow;
    padding: 50px 110px 20px 110px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;

    .pricing-table{
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
}
