


#joinUs-sec{
    // border: 2px solid rgb(21, 255, 0);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100%;
    background: black;
}

.sec-joinus-body{
    // border: 2px solid rgb(21, 255, 0);
    width: 100%;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .sec-joinus-right{
        // border: 5px solid rgb(255, 0, 157);
        width: 600px;
        position: relative;
        background: linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/joinus-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        h3{
            letter-spacing: 2px;
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            animation: hzoom 1.8s linear alternate-reverse infinite;
            span{
                color: yellow;
            }
        }
        @keyframes hzoom {
            from{transform: scale(1);}
            to{transform: scale(1.2);}
        }
        .join-svg1{
            position: absolute;
            height: 100%;
            width: 100%;
            .path1{
                fill: black;
            }
        }
    }
    .sec-joinus-left{
        // border: 2px solid rgb(21, 255, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        .sec-joinus-title{
            text-align: center;
            margin: 10px;
            padding: 10px;
            color: white;
            h1{
                letter-spacing: 2px;
                font-size: 60px;
                font-weight: bolder;
            }
        }
        .sec-joinus-tagline{
            padding: 20px;
            margin: 10px;
            h3{
                line-height: 45px;
                letter-spacing: 2px;
                text-align: center;
                font-weight: 1500;
                font-size: 30px;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                span{
                    color: rgb(25, 0, 255);
                }
            }
        }
        .sec-btn-join{
            display: flex;
            margin: 10px;
            a{
                white-space: nowrap;
                text-transform: uppercase;
                font-size: large;
                font-weight: bold;
                text-decoration: none;
                // border-radius: 10px;
                padding: 10px;
                margin: 10px;
                transition: all 0.3s;
            }
            a:first-child{
                background: white;
                color: rgb(201, 66, 66);
                border: 2px solid white;
                &:hover{
                    background: blue;
                    color: white;
                    border: 2px solid white;
                    transform: scale(1.05);
                    box-shadow: 0 0 5px rgb(255, 255, 255);
                }
            }
            a:last-child{
                background: transparent;
                color: rgb(255, 255, 255);
                border: 2px solid rgb(255, 255, 255);
                &:hover{
                    background: blue;
                    color: white;
                    transform: scale(1.05);
                    box-shadow: 0 0 5px rgb(255, 255, 255);
                }
            }
        }
    }  
}
// .joinus-body{
//     position: relative;
//     width: 90%;
//     height: 100%;
    
//     .join-anim{
//         height: 270px;
//         position: absolute;
//         top: 15px;
//         right: 50px;
//         margin: 5px;
//         border-radius: 50%;
//         background: rgb(255, 0, 128);
//         color: white;
//         h3{
//             text-align: center;
//             font-weight: 1200;
//             font-size: 30px;
//             padding: 40px;
//             line-height: 40px;
//             margin: 20px;
//         }
//     }
// }
