{% load static %}
<svg class="sec-herobg" preserveAspectRatio="none" width="1440" height="652" viewBox="0 0 1440 652" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 0H1440V532.5C1440 532.5 1309.58 693.223 1093.5 641C854.5 583.237 615.5 217.5 400.5 217.5C289.227 217.5 246 273.839 123.5 402.202C12.4383 518.578 0 492.055 0 492.055V0Z" fill="url(#paint0_linear)"/>
  <path d="M0 0H1440V536.5C1440 536.5 1290.58 651.821 1074.5 603C835.5 549 632.5 219.5 417.5 219.5C306.227 219.5 246 256 123.5 376C12.4383 484.795 0 460 0 460V0Z" fill="url(#paint1_linear)"/>
  <defs>
  <linearGradient id="paint0_linear" x1="720" y1="-28.3467" x2="720" y2="732.915" gradientUnits="userSpaceOnUse">
  <stop stop-color="#92E9FF" stop-opacity="0.65"/>
  <stop offset="1" stop-color="#ECDFFF" stop-opacity="0.75"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x1="55" y1="308" x2="734.5" y2="-311.5" gradientUnits="userSpaceOnUse">
  <stop offset="0.0190308" stop-color="#21D4FD"/>
  <stop offset="1" stop-color="#B721FF" stop-opacity="0.83"/>
  </linearGradient>
  </defs>
</svg>
<div class="sec-hero-sideimg">
  <img src="{% static 'frontpage/images/hero.png' %}" alt="" />
</div>
<div class="sec-hero-frontpage-body">
  <div class="sec-hero-title">
    <h1>
      Probably the best <br />
      theme developers team <br />
      on the whole world.
    </h1>
  </div>
  <div class="sec-hero-subtitle">
    <h2>
      Lorem ipsum dolor sit amet, consectetur. <br />
      Quibusdam cumque, assumenda tempora <br />
      cupiditate dolorum, rem ex officiis
    </h2>
  </div>
  <div class="sec-hero-btn">
    <a href="">try for free</a>
  </div>
</div>



