{% load static %}

<div class="sec-img-aboutus">
    <div class="sec-img1"><img src="{% static 'frontpage/images/about-img1.png' %}" alt=""></div>
    <div class="sec-img2"><img src="{% static 'frontpage/images/about-img2.jpg' %}" alt=""></div>
    <div class="sec-img3"><img src="{% static 'frontpage/images/about-img3.jpeg' %}" alt=""></div>
</div>

<div class="sec-about-right">
    <div class="sec-aboutus-title">
    <h1>We are TechPahadi</h1>
    </div>
    <div class="sec-aboutus-tagline">
        <h2>Enjoy the best <span>design and functions</span> combined together</h2>
    </div>
    <div class="sec-aboutus-para">
        <p><h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In doloremque consectetur sequi nemo labore alias voluptatem magni, cupiditate esse, odio ullam consequuntur perferendis optio quaerat itaque odit sed voluptatum similique.</h3></p>
    </div>
    <div class="sec-btn-aboutus">
        <a href="">Learn More</a>
    </div>
</div>
