{% load static %}

<div class="sec-title slide-title">
  <h1>Our Expertise</h1>
</div>
<div class="slide-bg">
  <div class="marquee" id="mycrawler">
    <img src="{% static 'frontpage/images/pic1.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic2.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic1.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic2.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic1.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic2.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic1.jpg' %}" alt="" />
    <img src="{% static 'frontpage/images/pic2.jpg' %}" alt="" />
  </div>
</div>
