<svg
  class="sec-whyus-svg"
  preserveAspectRatio="none"
  width="1422"
  height="1004"
  viewBox="0 0 1422 1004"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M26.9733 317.895C39.2567 281.894 358.974 -430.105 678.974 401.895C998.974 1233.89 1253.94 109.007 1390.97 373.894C1459.26 505.895 1404.15 720.431 1310.97 841.894C1086.97 1133.89 372.975 965.894 186.975 841.894C0.974045 717.894 -32.8031 493.092 26.9733 317.895Z"
    fill="url(#paint0_linear)"
  />
  <path
    d="M26.9648 360.319C39.2443 326.535 358.861 -341.62 678.76 439.147C998.66 1219.91 1236.01 159.424 1373 408C1441.27 531.873 1403.71 738.068 1310.56 852.052C1086.63 1126.07 372.858 968.416 186.916 852.051C0.97374 735.687 -32.7928 524.729 26.9648 360.319Z"
    fill="url(#paint1_linear)"
  />
  <defs>
    <linearGradient
      id="paint0_linear"
      x1="710.724"
      y1="0"
      x2="710.724"
      y2="1003.81"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#BF78F7" />
      <stop offset="1" stop-color="#3BCBF9" stop-opacity="0.59" />
    </linearGradient>
    <linearGradient
      id="paint1_linear"
      x1="703.972"
      y1="62"
      x2="769"
      y2="1004"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#9F02FF" />
      <stop offset="1" stop-color="#2ABEFE" />
    </linearGradient>
  </defs>
</svg>

<div class="sec-whyus-body-left">
  <div class="whyus-title">
    <h1>
      why <br />
      <span> Choose Us</span>
    </h1>
  </div>
  <a href="">Learn More</a>
</div>
<div class="sec-whyus-body-right">
  <div class="box whyus-items" id="why1">why us 1</div>
  <div class="box whyus-items" id="why2">why us 2</div>
  <div class="box whyus-items" id="why3">why us 3</div>
  <div class="box whyus-items" id="why4">why us 4</div>
  <div class="box whyus-items" id="why5">why us 5</div>
  <div class="box whyus-items" id="why6">why us 6</div>
</div>
