{% load static %}
<div class="sec-title faqs-title">
    <h1>faqs</h1>
</div>
<div class="sec-body faqs-body">
    <div class="sec-item-wrapper faqs-item-wrapper">
        <div class="box faqs-items" id="faq1">
            <div class="question" id="question1"><h1>How can I create my website for free?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer1">
                <div class="ans-wrap">
                    <p>You can create your website for with TechPahadi in following simple steps:- <br>
                        <li>1- SignUp for a <span>"Free Trial Account"</span>.</li>
                        <li>2- Choose your website Type.</li>
                        <li>3- Select a Template or get a website made for you.</li>
                        <li>4- Publish your website and build your professional online presence</li>
                        <a href=""><h3>Try For Free</h3></a></p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq2">
            <div class="question" id="question2"><h1>What are different types of websites?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer2">
               <div class="ans-wrap">
                    <p>Here are few most popular types of websites:- <br>
                        <li><h3>1- Landing pages:</h3> A specific page created for a marketing campaign, mainly focused on CTA(Call to Action).</li>
                        <li><h3>2- Portfolio websites:</h3> For creative professionals to showcase their best work.</li>
                        <li><h3>3- Social media websites:</h3> An online plateform where users interact with each other & share their thoughts.</li>
                        <li><h3>4- Blogs:</h3> A type of website providing regularly updated articles, photos and videos.</li>
                        <li><h3>5- E-commerce websites:</h3> An online shoping plateform where users can purchase products or services.</li>
                        <li><h3>6- Business webistes:</h3> Any website that is devoted to representing a specific business and communicate the type of products and/or services the business offers.</li>
                        <li><h3>7- News or Magazine websites:</h3> The primary purpose of a news website is to keep its readers up to date on current affairs, whereas online magazine is focused more on a specific type of content.</li>
                        <h4>here at TechPahadi we offer all types of websites customized as per your need.</h4>
                    </p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq3">
            <div class="question" id="question3"><h1>How to join TechPahadi and earn handsome amount?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer3">
                <div class="ans-wrap">
                    <p>We are an emerging startup, we are looking for "sales partners" and "software engineers". <br>
                        our hiring process is realy simple. just follow following few steps: <br>
                        <li>For Technical posts send us your resume Or CV, wait for our reply</li>
                        <li>And to become our sales partner just directly contact us.</li>
                    </p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq4">
            <div class="question" id="question4"><h1>How do I add content to my website after publishing it?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer4">
               <div class="ans-wrap">
                    <p>The process of adding content to your site after publishing it is realy simple just contact us for any changes you want to make in your website and our supporting team will do it for you <span>free of cost</span>. <br>
                        you don't need to worry about anything. Our after sales service has an excelent trackrecord.
                     </p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq5">
            <div class="question" id="question5"><h1>How do I get my website found on Google?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer5">
               <div class="ans-wrap">
                    <p>Using our advanced SEO tools and techniques your website will rank top on Google search result.</p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq6">
            <div class="question" id="question6"><h1>Can I create a website without knowing how to code?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer6">
               <div class="ans-wrap">
                    <p>Yes, the good news is now you can make your site look the way you want it just by customizing our world-class templates. And obiously we are always here to help you in this process or just leave everything on us we will take care of everything.</p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq7">
            <div class="question" id="question7"><h1>Which currencies and countries TechPahadi support?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer7">
               <div class="ans-wrap">
                    <p>You can choose to pay in USD($) or INR(₹). Our Customers are spread worldwide we have a global presence.<br>
                        Visit Paypal and Stripe to seee if your country is supported.
                    </p>
                </div>
            </div>
        </div>
        <div class="box faqs-items" id="faq8">
            <div class="question" id="question8"><h1>How to contact TechPahadi's support center?</h1>
            <img class="faq-caret" src="{% static 'frontpage/images/caret-down-solid.svg' %}" alt="">
            </div>
            <div class="answer" id="answer8">
              <div class="ans-wrap">
                    <p>Our support team is available 24/7 and usually responds withen one hour. <br>
                        Visit our <a href="">Help & Support</a>  center to contact us. or call us directlly 9634090498
                     </p>
                </div>
            </div>
        </div>

</div>