{% load static %}

<div class="sec-joinus-body">
  <div class="sec-joinus-left">
    <div class="sec-joinus-title">
      <h1>Join Our Team</h1>
    </div>
    <div class="sec-joinus-tagline">
      <h3>
        We are Hiring <br />
        <span>Sales Partners</span>
      </h3>
    </div>
    <div class="sec-btn-join">
      <a href="">Contact Us Now</a>
      <a href="">Learn More</a>
    </div>
  </div>
  <div class="sec-joinus-right">
    <h3>Earn Upto <br> <span>1 Lakh</span> <br> per Month</h3>
         <svg
          class="join-svg1"
          preserveAspectRatio="none"
          width="1440"
          height="1024"
          viewBox="0 0 1440 1024"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="path1"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1440 0H0V1024H1440V0ZM1190 573.649C1190 298.694 1000.99 44 725.915 44C447.509 44 249 295.37 249 573.649C249 818.016 481.437 979 725.915 979C966.597 979 1190 814.223 1190 573.649Z"
            fill="white"
          />
        </svg>
  </div>
</div>
