{% load static %}

<svg class="footer-svg" preserveAspectRatio="none" width="1440" height="382" viewBox="0 0 1440 382" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H720H1440V382C1440 382 1162.5 27 720 27C277.5 27 0 382 0 382V0Z" fill="white"/>
</svg>


<div class="f-col f-col-1">
    <div class="f-col-content">
        <h3>address</h3>
    </div>
</div>
<div class="f-col f-col-2">
    <div class="f-col-content">
        <h3>Company:</h3>
        <a href="{% url 'whyUs' %}">Why Us</a>
        <a href="{% url 'aboutUs' %}">About Techpahadi</a>
        <a href="{% url 'contactUs' %}">Contact Us</a>
        <a href="{% url 'ourExpertise' %}">Our Expertise</a>
        <a href="{% url 'career' %}">Career</a>
        <h3>Legal:</h3>
        <a href="{% url 'privacyPolicy' %}">Privacy Policy</a>
        <a href="{% url 'termsConditions' %}">Terms and Conditions</a>
        <a href="{% url 'refundPolicy' %}">Refund and Cancellation</a>
    </div>
</div>
<div class="f-col f-col-3">
    <div class="f-col-content">
        <h3>follow us</h3>
    </div>
</div>
<div class="f-col f-col-4">
    <div class="f-col-content">
        <h3>TechPahadi</h3>
    </div>
</div>
