{% load static %}
<div class="sublogo">
    <h2>Super Admin</h2>
</div>

<div class="sidebar_menu">
    <div class="sidebaritem" id="btn-db1">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>Dashboard1</h2></span>
        </li>   
    </div>
    <div class="sidebaritem" id="btn-db2">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>Dashboard2</h2></span>
        </li>
    </div>
    <div class="sidebaritem" id="btn-db3">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>Dashboard3</h2></span>
        </li>
    </div>
    <div class="sidebaritem" id="btn-db4">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>Dashboard4</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem1</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem2</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem3</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem4</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem5</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem6</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem7</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem8</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem9</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem10</h2></span>
        </li>
    </div>
    <div class="sidebaritem">
        <li>
            <span class="icon"><h2>icon</h2></span>
            <span class="title"><h2>sideitem11</h2></span>
        </li>
    </div>

</div>