{% load static %}
<div class="dashboard" id="dashboard3">
  <div class="db-body">
    <div class="row1">
      <div class="r1col1">
        <h3>r1col1</h3>
        dashboard3
      </div>
      <div class="r1col2">
        <h3>r1col2</h3>
      </div>
      <div class="r1col3">
        <h3>r1col3</h3>
      </div>
      <div class="r1col4">
        <h3>r1col1</h3>
      </div>
    </div>

    <div class="row2">
      <div class="r2col1">
        <h3>r2col1</h3>
        <div class="child">hari</div>
      </div>
      <div class="r2col2">
        <h3>r2col2</h3>
        <div class="child">hari</div>
      </div>
    </div>

    <div class="row3">
      <div class="r3col1">
        <h3>r3col1</h3>
        <div class="child">hari</div>
      </div>
      <div class="r3col2">
        <h3>r3col2</h3>
        <div class="child">hari</div>
      </div>
    </div>
    <div class="row5">
      <div class="r5col1">
        <h3>r5col1</h3>
        <div class="child">hari</div>
      </div>
    </div>
    <div class="row4">
      <div class="r4col1">
        <h3>r4col1</h3>
        <div class="child">hari</div>
      </div>
      <div class="r4col2">
        <h3>r4col2</h3>
        <div class="child">hari</div>
      </div>
      <div class="r4col3">
        <h3>r4col3</h3>
        <div class="child">hari</div>
      </div>
      <div class="r4col4">
        <h3>r4col4</h3>
        <div class="child">hari</div>
      </div>
    </div>
  </div>
  <div class="footer">© 2020 TechPahadi - All Rights Reserved</div>
</div>
